<!doctype html>
<html class="no-js" lang="" xmlns="http://www.w3.org/1/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>创建新的抽奖</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">你正在使用一个<strong>过时的</strong>浏览器. 请到<a href="http://browsehappy.com/">这里</a>去升级你的浏览器以获得更佳的体验.</p>
<![endif]-->


<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">石大易班在线抽奖</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <div class="jumbotron">
    <h2>创建新的抽奖活动</h2>
    <p class="lead">注:创建请求将被审核通过后才可上线.</p>
    <div style="text-align: left">
      <form action="/save" method="post">
        <div class="form-group">
          <p>创建人:<span th:text="${username}">测试文字</span> 易班ID:<span th:text="${userid}">123</span></p>
        </div>
        <div class="form-group">
          <label for="activityName">活动名称</label>
          <input type="text" class="form-control" id="activityName" placeholder="活动名称" name="lotteryname">
        </div>
        <div class="form-group">
          <label>抽奖时间(时间有格式要求,在现代浏览器下通过选择输入.拒绝IE等过时浏览器.若非要用IE,请按以下格式填写:2016/03/02 上午9:14:00,空格也不能少.)</label>
          <div class="form-inline">
            <div class="form-group">
              <label for="lotteryTimeBegin">开始时间</label>
              <input name="lotterytimebegin" type="datetime-local" class="form-control" id="lotteryTimeBegin">
            </div>
            <div class="form-group">
              <label for="lotteryTimeEnd">结束时间</label>
              <input name="lotterytimeend" type="datetime-local" class="form-control" id="lotteryTimeEnd">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="activityDescribe">活动描述</label>
          <textarea name="lotteryintro" id="activityDescribe" class="form-control" rows="4">记得写明活动的时间地点(领奖时间地点),奖品内容.</textarea>
        </div>
        <div class="form-group">
          <label>奖项设定(可以为0)</label>
          <div class="form-inline">
            <div class="form-group">
              <label for="lotteryList1">一等奖个数</label>
              <input name="prize1" type="number" class="form-control" id="lotteryList1">
            </div>
            <div class="form-group">
              <label for="lotteryList2">二等奖个数</label>
              <input name="prize2" type="number" class="form-control" id="lotteryList2">
            </div>
            <div class="form-group">
              <label for="lotteryList3">三等奖个数</label>
              <input name="prize3" type="number" class="form-control" id="lotteryList3">
            </div>
            <div class="form-group">
              <label for="lotteryList4">四等奖个数</label>
              <input name="prize4" type="number" class="form-control" id="lotteryList4">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>中奖概率设定(不可以为0和负数)</label>
          <label>注:中奖概率按千分之多少算.比如十分之一的中奖概率在下面填100,后台默认处理为千分之100,百分之15的中奖概率填150,以此类推,请填写整数,暂不支持万分之级别中奖概率的抽奖活动,太小气了吧?</label>
          <div class="form-inline">
            <div class="form-group">
              <label for="lotteryProb1">一等奖中奖率</label>
              <input name="probability1" type="number" class="form-control" id="lotteryProb1">
            </div>
            <div class="form-group">
              <label for="lotteryProb2">二等奖中奖率</label>
              <input name="probability2" type="number" class="form-control" id="lotteryProb2">
            </div>
            <div class="form-group">
              <label for="lotteryProb3">三等奖中奖率</label>
              <input name="probability3" type="number" class="form-control" id="lotteryProb3">
            </div>
            <div class="form-group">
              <label for="lotteryProb4">四等奖中奖率</label>
              <input name="probability4" type="number" class="form-control" id="lotteryProb4">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the UPCyiban - skyADMIN</p>
  </div>
</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->


<!-- build:js(.) scripts/plugins.js -->
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
<!-- endbuild -->


<!-- build:js(.tmp) scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<!-- Baidu Analytics-->
<script>

</script>
</body>
</html>
